In [2]:
import pandas as pd 
import numpy as np

In [4]:
aoc = pd.read_csv('2020_t.csv')
aoc.describe()

,Unnamed: 0,size,day,for,while,if,elif,def,[,{,(,list,set,lambda,map,lines
count,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.00000,25.000000,25.000000
mean,12.000000,1679.120000,13.000000,6.760000,0.600000,7.040000,1.120000,4.760000,19.960000,1.920000,35.760000,2.920000,3.280000,0.20000,0.240000,63.000000
std,7.359801,952.532691,7.359801,5.084945,0.866025,4.117847,1.877942,3.003886,16.488582,2.812472,22.574469,2.177919,5.571654,0.57735,0.879394,35.182856
min,0.000000,316.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.00000,0.000000,8.000000
25%,6.000000,987.000000,7.000000,3.000000,0.000000,3.000000,0.000000,3.000000,5.000000,0.000000,19.000000,2.000000,0.000000,0.00000,0.000000,34.000000
50%,12.000000,1592.000000,13.000000,5.000000,0.000000,7.000000,0.000000,4.000000,21.000000,0.000000,31.000000,2.000000,1.000000,0.00000,0.000000,57.000000
75%,18.000000,2126.000000,19.000000,12.000000,1.000000,10.000000,2.000000,6.000000,28.000000,5.000000,49.000000,4.000000,4.000000,0.00000,0.000000,78.000000
max,24.000000,4232.000000,25.000000,17.000000,3.000000,14.000000,6.000000,14.000000,66.000000,10.000000,90.000000,10.000000,23.000000,2.00000,4.000000,166.000000